@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap");

body {
  background-image: url("bg.jpg");
  background-size: cover;

  color: white;
  font-family: "Outfit", sans-serif;
}
#logo {
  width: 15%;
  padding: 0 0 12vh 0;
  margin: 3% 0 0 15%;
}
main {
  text-align: center;
}
h1 {
  font-size: 5em;
  margin-bottom: 100px;
  font-weight: bold;
}

#radio-btn {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(255, 255, 255);
  background: transparent;
  margin: 0 20px 0 0;
}
#radio-btn:checked {
  background-color: #6a2776;
}

#tendina {
  width: 300px;
  border: none;
  border-bottom: 3px solid #c2128d;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  background: #0b113b;
  color: white;
  margin-top: 30px;
  user-select: none;
}

.options {
  width: 300px;
  display: none;
  position: absolute;
  background: #0b113b;
  border: 2px solid #c2128d;
  border-radius: 8px;
  margin-top: 2px;
  z-index: 10;
  user-select: none;
}

.options li {
  padding: 5px 10px;
  cursor: pointer;
}

.options li:hover {
  background: #00ffff;
  color: #0c113b;
}

#container:not(.options) {
  display: flex;
  justify-content: space-evenly;
}
